@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-top: 20px;
  .logo {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: end;
    width: 20%;
    img {
      height: 50px;
      width: 50px;
      border-radius: 10px;
    }
    .text {
      padding-left: 10px;
      @include lg {
        display: none;
      }
    }
  }
  .items {
    display: flex;
    width: 30%;
    justify-content: space-between;
    .item {
      padding: 15px 20px;
      border: 1px solid white;
      &:hover {
        background: linear-gradient($cyan-200, $blue-300);
        border-radius: 10px;
        border: 1px solid lightblue;
      }
    }
    @include lg {
      display: none;
    }
  }
  .login {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    .text {
      padding: 15px 20px;
      border: 1px solid white;
      &:hover {
        background: linear-gradient($cyan-200, $blue-300);
        border-radius: 10px;
        border: 1px solid lightblue;
      }
    }
    @include lg {
      display: none;
    }
  }
  .hamburger {
    display: none;
    z-index: 1;
    padding: 20px;
    img {
      z-index: 2;
      width: 30px;
      height: 30px;
    }
    @include lg {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .menu {
      top: 30px;
      right: 10px;
      position: absolute;
      width: 300px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid gray;
      border-radius: 10px;
      .items {
        margin-top: 30px;
        padding-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        .item {
          margin: 10px;
          width: 280px;
          text-align: center;
        }
      }
    }
  }
}
